.score{
    border: 1px solid #000000;
    border: 0px solid white;
    height:100px;
    width: 280px;
    margin: 0px;
    padding: 0px;
 }

 #body {
	background-color:#E1E3EA;
 }
 
 #mainContainer {
	border:1px solid #ABADB3;
  background-color:white;
 }
 
 
#command{
    border: 1px solid #000000;
    border: 1px solid #ABADB3;
    height:415px;
    width: 275px;
    word-wrap: break-word;
    margin: 0px;
    padding: 0px;
    overflow-y: scroll;
 }
#qiuz{
    border: 1px solid #000000;
    border: 1px solid #ABADB3;
    width: 450px;
    height:515px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#ScoreCol{
    width: 220px;
     height:515px;
}
#MazeCol{
    width:485px;
    height:515px;
}
#Quizcol{
    width: 450px;
    height:515px;
}
